[submodule "Projects/WeSplit"]
	path = Projects/WeSplit
	url = https://github.com/nkardas/WeSplit.git
	branch = main
[submodule "Projects/GuessTheFlag"]
	path = Projects/GuessTheFlag
	url = https://github.com/nkardas/GuessTheFlag.git
[submodule "Projects/ViewsAndModifiers"]
	path = Projects/ViewsAndModifiers
	url = https://github.com/nkardas/ViewsAndModifiers.git
[submodule "Projects/RockPaperScissors"]
	path = Projects/RockPaperScissors
	url = https://github.com/nkardas/RockPaperScissors.git
[submodule "Projects/BetterRest"]
	path = Projects/BetterRest
	url = https://github.com/nkardas/BetterRest.git
